@use '../abstracts/variables' as *;

button{
    display: block;
    border: none;
    border-radius: 0.5em;
    background-color: map-get($colors, theme-green );
    box-shadow:  inset 0 -4px hsl(154, 59%, 46%);
    box-sizing: border-box;
}